<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<dict>
		<key>Angry.tiff</key>
		<string>>:I</string>
		<key>Cool.tiff</key>
		<string>8-)</string>
		<key>Cry.tiff</key>
		<string>:'(</string>
		<key>Embarrassed.tiff</key>
		<string>:-[</string>
		<key>Footinmouth.tiff</key>
		<string>:-!</string>
		<key>Frown.tiff</key>
		<string>:-(</string>
		<key>Gasp.tiff</key>
		<string>:-O</string>
		<key>Innocent.tiff</key>
		<string>O:-)</string>
		<key>Kiss.tiff</key>
		<string>:-*</string>
		<key>Laugh.tiff</key>
		<string>:-D</string>
		<key>Moneymouth.tiff</key>
		<string>:-$</string>
		<key>Sealed.tiff</key>
		<string>:-X</string>
		<key>Slant.tiff</key>
		<string>:-/</string>
		<key>Smile.tiff</key>
		<string>:-)</string>
		<key>Wink.tiff</key>
		<string>;-)</string>
		<key>Yuck.tiff</key>
		<string>:-P</string>
	</dict>
	<key>Map</key>
	<dict>
		<key>>:i</key>
		<string>Angry.tiff</string>
		<key>>:-i</key>
		<string>Angry.tiff</string>
		<key>>:c</key>
		<string>Angry.tiff</string>
		<key>>:-c</key>
		<string>Angry.tiff</string>
		<key>>:o</key>
		<string>Angry.tiff</string>
		<key>>:-o</key>
		<string>Angry.tiff</string>
		<key>8)</key>
		<string>Cool.tiff</string>
		<key>8-)</key>
		<string>Cool.tiff</string>
		<key>:'(</key>
		<string>Cry.tiff</string>
		<key>:'/</key>
		<string>Cry.tiff</string>
		<key>:c</key>
		<string>Cry.tiff</string>
		<key>:-c</key>
		<string>Cry.tiff</string>
		<key>:...c</key>
		<string>Cry.tiff</string>
		<key>:...-c</key>
		<string>Cry.tiff</string>
		<key>:[</key>
		<string>Embarrassed.tiff</string>
		<key>:-[</key>
		<string>Embarrassed.tiff</string>
		<key>:!</key>
		<string>Footinmouth.tiff</string>
		<key>:-!</key>
		<string>Footinmouth.tiff</string>
		<key>:(</key>
		<string>Frown.tiff</string>
		<key>:-(</key>
		<string>Frown.tiff</string>
		<key>:o</key>
		<string>Gasp.tiff</string>
		<key>:-o</key>
		<string>Gasp.tiff</string>
		<key>o:)</key>
		<string>Innocent.tiff</string>
		<key>o:-)</key>
		<string>Innocent.tiff</string>
		<key>:*</key>
		<string>Kiss.tiff</string>
		<key>:-*</key>
		<string>Kiss.tiff</string>
		<key>:d</key>
		<string>Laugh.tiff</string>
		<key>:-d</key>
		<string>Laugh.tiff</string>
		<key>:$</key>
		<string>Moneymouth.tiff</string>
		<key>:-$</key>
		<string>Moneymouth.tiff</string>
		<key>:x</key>
		<string>Sealed.tiff</string>
		<key>:-x</key>
		<string>Sealed.tiff</string>
		<key>:/</key>
		<string>Slant.tiff</string>
		<key>:-/</key>
		<string>Slant.tiff</string>
		<key>:)</key>
		<string>Smile.tiff</string>
		<key>:-)</key>
		<string>Smile.tiff</string>
		<key>;)</key>
		<string>Wink.tiff</string>
		<key>;-)</key>
		<string>Wink.tiff</string>
		<key>:p</key>
		<string>Yuck.tiff</string>
		<key>:-p</key>
		<string>Yuck.tiff</string>
	</dict>
</dict>
</plist>
