<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-msvideo</string>
				<string>video/msvideo</string>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW </string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AVI Movie</string>
			<key>CFBundleTypeIconFile</key>
			<string>avi.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matroska Movie</string>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>qtl</string>
				<string>qtlk</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quicktimeplayer</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QuickTime Movie</string>
			<key>CFBundleTypeIconFile</key>
			<string>mov.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flash Movie</string>
			<key>CFBundleTypeIconFile</key>
			<string>flv.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3GPP Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3gpp.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/3gpp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3GPP2 Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3gpp2.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AMC Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amc </string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>amc.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dif</string>
				<string>dv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DV Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
				<string>DVSF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dv.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fli</string>
				<string>flc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/flc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AutoDesk Animator Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLI </string>
				<string>FLC </string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flc.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
				<string>m1s</string>
				<string>m75</string>
				<string>m15</string>
				<string>m2p</string>
				<string>m2s</string>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
				<string>mqv</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
				<string>M4V </string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg4.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>wm</string>
				<string>wmp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-wmv</string>
				<string>video/x-ms-wm</string>
				<string>video/x-ms-wmp</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASF_</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Media Movie</string>
			<key>CFBundleTypeIconFile</key>
			<string>wmv.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SubRip Subtitle</string>
			<key>CFBundleTypeIconFile</key>
			<string>srt.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ssa</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SubStation Alpha Subtitle</string>
			<key>CFBundleTypeIconFile</key>
			<string>ssa.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ass</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Advanced SubStation Alpha Subtitle</string>
			<key>CFBundleTypeIconFile</key>
			<string>ass.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DVD Subtitle Index</string>
			<key>CFBundleTypeIconFile</key>
			<string>idx.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sub</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DVD Subtitle</string>
			<key>CFBundleTypeIconFile</key>
			<string>sub.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Spiral</string>
	<key>CFBundleIconFile</key>
	<string>Spiral.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.zankasoftware.Spiral</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>WIApplication</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SUPublicDSAKeyFile.pem</string>
</dict>
</plist>
